/* Serifs */

.max-large-serif {
  font-family: var(--serif);
  font-size: 40px;
  letter-spacing: -1.5px;
  line-height: 1em;

  @media (--large-min) {
    font-size: calc(40px + 0.5vw);
  }
}

.extra-large-serif {
  font-family: var(--serif);
  font-size: 30px;
  line-height: 1em;

  @media (--large-min) {
    letter-spacing: -0.5px;
    font-size: calc(30px + 0.5vw);
  }
}

.large-serif {
  font-family: var(--serif);
  font-size: 24px;
  line-height: 1em;

  @media (--large-min) {
    font-size: calc(24px + 0.4vw);
  }
}

.medium-serif {
  font-family: var(--serif);
  font-size: 22px;
  line-height: 1em;
}

.normal-serif {
  font-family: var(--serif);
  font-size: 19px;
  line-height: 1em;
}

.small-serif {
  font-family: var(--serif);
  font-size: 17px;
  line-height: 1em;
  font-weight: 600;
}

.extra-small-serif {
  font-family: var(--serif);
  font-size: 15px;
  font-weight: 700;
}

.minium-serif {
  font-family: var(--serif);
  font-size: 12px;
  font-weight: 700;
}

/* San Serifs */

.maxium-large-san-serif {
  font-family: var(--sansSerif);
  font-size: 40px;
  letter-spacing: -1.5px;
  line-height: 1em;

  @media (--large-min) {
    font-size: calc(40px + 0.5vw);
  }
}

.extra-large-san-serif {
  font-family: var(--sansSerif);
  font-size: 30px;
  line-height: 1em;

  @media (--large-min) {
    letter-spacing: -0.5px;
    font-size: calc(30px + 0.5vw);
  }
}

.large-san-serif {
  font-family: var(--sansSerif);
  font-size: 24px;
  line-height: 1em;

  @media (--large-min) {
    font-size: calc(24px + 0.4vw);
  }
}

.medium-san-serif {
  font-family: var(--sansSerif);
  font-size: 22px;
  line-height: 1em;
}

.normal-san-serif {
  font-family: var(--sansSerif);
  font-size: 19px;
  line-height: 1em;
}

.small-san-serif {
  font-family: var(--sansSerif);
  font-size: 17px;
  line-height: 1em;
  font-weight: 700;
}

.extra-small-san-serif {
  font-family: var(--sansSerif);
  font-size: 14px;
  font-weight: 700;
}

.minium-san-serif {
  font-family: var(--sansSerif);
  font-size: 12px;
  font-weight: 700;
}
