flex-columns {
  display: block;

  & > div {
    padding: 0 1em;
  }

  @include breakpoint(--tablet-min) {
    display: flex;
  }

  & > * {
    width: 100%;

    @include breakpoint(--large-max) {
      margin-top: 30px;
    }

    &::first-child {
      @include breakpoint(--large-max) {
        margin-top: 0;
      }
    }
  }

  &[data-columns='2'],
  &[data-columns='two'] {
    flex-wrap: wrap;

    & > * {
      @include breakpoint(--tablet-min) {
        width: calc(50% - 20px);
      }
    }
  }

  &.offset-40 {
    justify-content: space-between;

    & > *:first-child {
      @include breakpoint(--tablet-min) {
        width: calc(40% - 20px);
      }
    }

    & > *:last-child {
      @include breakpoint(--tablet-min) {
        width: calc(60% - 20px);
      }
    }
  }

  &.offset-60 {
    justify-content: space-between;

    & > *:first-child {
      @include breakpoint(--tablet-min) {
        width: calc(60% - 20px);
      }
    }

    & > *:last-child {
      @include breakpoint(--tablet-min) {
        width: calc(40% - 20px);
      }
    }
  }

  &.offset-70 {
    justify-content: space-between;

    & > *:first-child {
      @include breakpoint(--tablet-min) {
        width: calc(70% - 20px);
      }
    }

    & > *:last-child {
      @include breakpoint(--tablet-min) {
        width: calc(30% - 20px);
      }
    }
  }

  &[data-columns='3'],
  &[data-columns='three'] {
    flex-wrap: wrap;

    & > * {
      @include breakpoint(--tablet-min) {
        width: calc(33.33% - 20px);
        margin-top: 30px;
      }

      &:first-of-type,
      &:nth-of-type(2),
      &:nth-of-type(3) {
        margin-top: 0;
      }
    }
  }

  &[data-columns='4'],
  &[data-columns='four'] {
    display: flex;
    flex-wrap: wrap;
    // justify-content: flex-end;

    & > * {
      width: 100%;

      @include breakpoint(--medium-min) {
        // width: calc(50% - 20px);
        width: 50%;
      }

      // &:nth-of-type(2),
      // &:first-of-type {
      //   @include breakpoint(--medium-min) and (--tablet-max) {
      //     margin-bottom: 40px;
      //   }
      // }

      @include breakpoint(--desktop-min) {
        // width: calc(25% - 20px);
        width: 25%;
      }
    }
  }

  &[data-center='true'] {
    align-items: center;
  }

  &[data-space='true'],
  &.space {
    justify-content: space-between;
  }
}
